.logo {
    font-family: $secondaryFont;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.page-header__logo {
    color: #000000;
}

.page-header__logo--right {
    margin-right: 93px;
}

.logo-part {
    color: $accentColor;
}

.page-footer__logo {
    display: block;
    color: #ffffff;
}

.page-footer__logo--bottom {
    margin-bottom: 20px;
}