@import "../utils/mixin";
/* ---------------------------Футер іконки--------------------------- */
.join__item {
    list-style: none;
}

.join__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    @include transition(background-color);

    &:hover,
    &:focus {
        background-color: $accentColor;
    }
}

.join__icon {
    fill: #ffffff;
}

/* ----------------------------------------Футер---------------------------------------- */
.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background: $backgroundColorSecondary;
    border: 1px solid #ececec;
}

.page-footer__contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;


    @include transition(color);

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.page-footer__address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
}

.page-footer__list {
    font-style: normal;
    list-style: none;
}

.page-footer__item--margin {
    &:not(:last-child) {
            margin-bottom: 9px;
        }
}

.page-footer--flex {
    display: flex;
    align-items: baseline;
}

.join--margin {
    margin-left: 70px;
    margin-right: 93px;
}

.join__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}

.join__title--bottom {
    margin-bottom: 20px;
}

.join__list {
    display: flex;
    gap: 10px;
}

.subscribe-button__icon--margin {
    margin-left: 10px;
}

.subscribe__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}

.subscribe__title--bottom {
    margin-bottom: 20px;
}

.subscribe__form {
    display: flex;
}

.subscribe__input {
    padding: 15px 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 358px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscribe__input--right {
        margin-right: 12px;
}

    