@import "../utils/mixin";

.section-filter__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    list-style: none;
}

.section-filter__item {
    &:not(:last-child) {
            margin-right: 8px;
        }
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-list__item {
    position: relative;

    width: calc((100% - 60px) / 3);
    border: 1px solid #eeeeee;
    list-style: none;

    @include transition(box-shadow);

    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }

    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }
}

.project-list__link {
    text-decoration: none;
}

.project-list--padding {
    padding: 20px 24px;
}

.project-list__title {
    margin-bottom: 4px;

    color: $textColorMain;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-list__description {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $textColorSecondary;
}

/* ----------------------------------------Portfolio.html overlay---------------------------------------- */
.project-list__thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;

    transform: translatey(100%);

    @include transition(transform);

    .project-list__item:hover & {
        transform: translatey(0);
    }
}

.overlay__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 322px;
    height: 168px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
}