@import "../utils/mixin";

.section-team {
    background-color: #f5f4fa;
}

.section-team__list {
    display: flex;
}

.section-team__member {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-team__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $textColorSecondary;
}

.section-team__item--padding {
    padding-top: 30px;
    padding-bottom: 16px;
}

.section-team__item {
    width: calc((100% - 90px) / 4);
    background: $backgroundColorMain;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    list-style: none;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.social-list {
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
    justify-content: center;

    list-style: none;
}

.social-list__icon {
    fill: #afb1b8;

    @include transition(fill);

    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: #ffffff;
    }
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;

    @include transition(background-color);

    &:hover,
    &:focus {
        background-color: $accentColor;
    }
}