body {
    font-family: $mainFont, sans-serif;
    color: $textColorMain;
    background-color: $backgroundColorMain;
}

.current {
    color: $accentColor;

    &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
    
            width: 100%;
            height: 4px;
            background-color: $accentColor;
            border-radius: 2px;
        }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    width: 1200px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* ----------------------------------------Прихований контент---------------------------------------- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}