/* ----------------------------------------Колір---------------------------------------- */
$accentColor: #2196f3;
$textColorMain: #212121;
$textColorSecondary: #757575;
$backgroundColorMain: #ffffff;
$backgroundColorSecondary: #2f303a;

/* ----------------------------------------Шрифт---------------------------------------- */
$mainFont: 'Roboto';
$secondaryFont: 'Raleway';