:root {
  --accent-color: #2196f3;
  --text-color-main: #212121;
  --text-color-secondary: #757575;
  --background-color-main: #ffffff;
  --background-color-secondary: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color-main);
  background-color: var(--background-color-main);
}

/* ----------------------------------------Скидування стилів/Утиліти---------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------------------------------------Хедер---------------------------------------- */
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header > .container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-part {
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-main);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.contacts-list-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--accent-color);
}

.navigation-list,
.contacts-list {
  display: flex;
  list-style: none;
}

.container .contacts-list {
  margin-left: auto;
}

.navigation-list-item > a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list-item {
  position: relative;
}

.navigation-list-item > .current {
  color: var(--accent-color);
}

.navigation-list-item > .current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list-item + .contacts-list-item {
  margin-left: 30px;
}

/* -------------------------------------------іконки------------------------------------------- */

/* ---------------------------Хедер іконки--------------------------- */
.envelope {
  margin-right: 10px;

  width: 16px;
  height: 16px;
  fill: #757575;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:focus > .envelope,
.contacts-list-link:hover > .envelope {
  fill: var(--accent-color);
}

.smartphone {
  margin-right: 10px;

  width: 10px;
  height: 16px;
  fill: #757575;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:focus > .smartphone,
.contacts-list-link:hover > .smartphone {
  fill: var(--accent-color);
}

/* ---------------------------Index іконки--------------------------- */
.icon-advantage-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.icon-advantage {
  width: 70px;
  height: 70px;
}

.social-link-list {
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
  justify-content: center;

  list-style: none;
}

.client-list {
  display: flex;
  gap: 30px;

  list-style: none;
}

.client-list-item {
  width: calc((100% - 150px) / 6);
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link:hover,
.client-list-link:focus {
  border: 1px solid var(--accent-color);
}

.icon-client {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link:hover .icon-client,
.client-list-link:focus .icon-client {
  fill: var(--accent-color);
}

.icon-social-link {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover > .icon-social-link,
.social-link:focus > .icon-social-link {
  fill: #ffffff;
}

/* ---------------------------Футер іконки--------------------------- */
.join-list-item {
  list-style: none;
}

.join-list-item > a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list-item > a > svg {
  fill: #ffffff;
}

.join-list-item > a:hover,
.join-list-item > a:focus {
  background-color: var(--accent-color);
}

/* ----------------------------------------Кнопки---------------------------------------- */
.button-order {
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  background: #188ce8;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: inherit;
  fill: #000000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  fill: #2196f3;
}

.button-portfolio {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.button-submit {
  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus {
  background-color: #188ce8;
}

.button-subscribe {
  display: flex;
  align-items: center;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  border-color: transparent;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #188ce8;
}

/* ----------------------------------------Футер---------------------------------------- */
.footer-style {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--background-color-secondary);
  border: 1px solid #ececec;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.contacts-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.address-list {
  font-style: normal;
  list-style: none;
}

.address-list > li:not(:last-child) {
  margin-bottom: 9px;
}

.physical-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.join {
  margin-left: 70px;
  margin-right: 93px;
}

.join-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.join-list {
  display: flex;
  gap: 10px;
}

.button-subscribe svg {
  margin-left: 10px;
}

.subscribe-container form {
  display: flex;
}

.subscribe-container input {
  padding: 15px 16px;
  margin-right: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-container input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ----------------------------------------Прихований контент---------------------------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------------------Index.html---------------------------------------- */
.main-section.section {
  margin: 0 auto;
  padding-bottom: 200px;
  padding-top: 200px;

  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-color: var(--background-color-secondary);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/background-image-hero.jpg);
}

.main-title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.advantage-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-list {
  display: flex;
}

.advantage-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantage-list-item {
  list-style: none;
  width: calc((100% - 90px) / 4);
}

.advantage-description {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

.secondary-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-samples.section {
  padding-top: 0;
}

.samples-list {
  display: flex;
}

.samples-list-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 70px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.samples-list-item {
  position: relative;

  width: calc((100% - 60px) / 3);
  list-style: none;
}

.samples-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team {
  background-color: #f5f4fa;
}

.member-list {
  display: flex;
}

.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

.member-list-description {
  padding-top: 30px;
  padding-bottom: 16px;
}

.member-list-item {
  width: calc((100% - 90px) / 4);
  background: var(--background-color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  list-style: none;
}

.member-list-item:not(:last-child) {
  margin-right: 30px;
}

/* ----------------------------------------Модальне вікно---------------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1) rotatey(360deg);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-color-main);
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field > label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color-secondary);
}

.form-field input {
  margin-bottom: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 12px;

  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus,
.form-field > textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-field input:focus + svg {
  fill: var(--accent-color);
}

.form-field > textarea {
  padding: 12px 16px;

  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-field > textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.contract-terms {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 9px;
  margin-left: 12px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color-secondary);
}

.policy {
  display: inline-flex;
  margin-top: 20px;

  width: 100%;
}

.policy a {
  color: var(--accent-color);
}

.container-button-submit {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form-field div {
  position: relative;
}

.form-field svg {
  position: absolute;
  top: 11px;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  border: 2px solid #212121;
  border-radius: 2px;
  fill: #fff;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .checkbox-icon {
  border: 0;
  fill: var(--accent-color);
}

/* ----------------------------------------Portfolio.html---------------------------------------- */
.list-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  list-style: none;
}

.list-filter > li:not(:last-child) {
  margin-right: 8px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-list-item {
  position: relative;

  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  list-style: none;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list-link {
  text-decoration: none;
}

.project-list-item:hover,
.project-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-list-description {
  padding: 20px 24px;
}

.project-title {
  margin-bottom: 4px;

  color: var(--text-color-main);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

/* ----------------------------------------Portfolio.html overlay---------------------------------------- */
.project-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;

  transform: translatey(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 322px;
  height: 168px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project-list-item:hover .overlay {
  transform: translatey(0);
}
